<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulan Jajan</title> <link rel="icon" type="image/webp" href="images/Logo 1.webp"/>
    <link rel="stylesheet" href="/css/style.css">

<body>
    <header>
        <img src="images/Logo 1.webp" alt="Logo Bulan Jajan" class="navbar-logo">
        <div class="container">
           
            <nav>
                <ul>
                    <li><a href="/">Beranda</a></li>
                    <li><a href="/produk">Produk</a></li>
                    <li><a href="/order">Order</a></li> 
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="hero-text">
            <h2>Jajanan Autentik & Sehat</h2>
            <p>Dari dapur Bulan Jajan langsung ke meja makanmu.</p>
            <a href="produk.html" class="btn">Lihat Produk</a>
        </div>
    </section>

    <section id ="produk" class = "produk">
        <div class="container">
            <h2>Jajanan Terlaris</h2>
            <div class="grid">

                <div class="produk-item">
                    <img src="images/aremArem.webp" alt="Produk 1">
                    <h3>Arem-arem</h3>
                    <p>15.000 / 4 pcs</p>
                    <a href="#" class="btn">Pesan Sekarang</a>
                </div>

                <div class="produk-item">
                    <img src="images/pizza.webp" alt="Produk 2">
                    <h3>Pizza</h3>
                    <p>Rp 15.000</p>
                    <a href="#" class="btn">Pesan Sekarang</a>
                </div>

                <div class="produk-item">
                    <img src="images/gemblong.webp" alt="Produk 3">
                    <h3>Gemblong</h3>
                    <p>Rp 10.000 / 3pcs</p>
                    <a href="#" class="btn">Pesan Sekarang</a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container"></div>
            <p>&copy; 2025 Bulan Jajan. Semua Hak Dilindungi.</p>
            <p>Hubungi kami: <a href="https://wa.me/6281234567890">WhatsApp</a> | Instagram: @bulanjajan</p>
        </div>
    </footer>

</body>
</html>