<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/webp" href="images/Logo 1.webp"/>
  <title>Login | Bulan Jajan</title>
  <link rel="stylesheet" href="/css/style-login.css" />
</head>
<body>

  <div class="login-container">
    <div class="left-panel">
      <h1>Bulan Jajan</h1>
      <p>
        Nikmati berbagai jajanan khas Nusantara dengan rasa yang menggoda selera.
        Yuk masuk untuk mulai menjelajah kelezatannya!
      </p>
    </div>

    <div class="right-panel">
      <h2>Login</h2>
      <form id="loginForm">
        <div class="input-group">
          <label for="name">Nama</label>
          <input type="text" id="name" placeholder="Masukkan nama kamu" required />
        </div>
        <div class="input-group">
          <label for="password">Kata Sandi</label>
          <input type="password" id="password" placeholder="Masukkan password" required />
        </div>
        <button type="submit" class="btn-login">Masuk</button>
      </form>
    </div>
  </div>

  <script src="/js/login.js"></script>
</body>
</html>
