<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulan Jajan--Produk</title> <link rel="icon" type="image/png" href="images/Logo 1.webp"/>
    <link rel="stylesheet" href="css/style-produk.css">
</head>

<body>
  <!-- Header -->
    <header>
        <img src="images/Logo 1.webp" alt="Logo Bulan Jajan" class="navbar-logo">
        <div class = "container">
            <nav>
                <ul>
                    <li><a href="/">Beranda</a></li>
                    <li><a href="/produk">Produk</a></li>
                    <li><a href="/order">Order</a></li> 
                </ul>
            </nav>
        </div>
    </header>
    <main>
    <section class="produk-grid">
        <div class="produk-card">
            <img src="images/pizza.webp" alt="img">
            <h3>Pizza</h3>
            <p class="harga">Rp 15.000/Loyan</p>
            <p class="deskripsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <button>Tambah ke Keranjang</button>
        </div>

        <div class="produk-card">
            <img src="images/aremArem.webp" alt="img">
            <h3>Arem-arem</h3>
            <p class="harga">Rp 15.000/4 pcs</p>
            <p class="deskripsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <button>Tambah ke Keranjang</button>
        </div>

        <div class="produk-card">
            <img src="images/gemblong.webp" alt="img">
            <h3>Gemblong</h3>
            <p class="harga">Rp 10.000/3pcs</p>
            <p class="deskripsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <button>Tambah ke Keranjang</button>
        </div>

        <div class="produk-card">
            <img src="images/bomboloni.webp" alt="img">
            <h3>Bomboloni</h3>
            <p class="harga">Rp 10.000/2 pcs</p>
            <p class="deskripsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <button>Tambah ke Keranjang</button>
        </div>

        <div class="produk-card">
            <img src="images/donat kampung.webp" alt="img">
            <h3>Donat Kampung</h3>
            <p class="harga">Rp 10.000/pcs</p>
            <p class="deskripsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <button>Tambah ke Keranjang</button>
        </div>

        <div class="produk-card">
            <img src="images/dimsum.webp" alt="img">
            <h3>Dimsum</h3>
            <p class="harga">Rp 20.000/porsi</p>
            <p class="deskripsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <button>Tambah ke Keranjang</button>
        </div>

        <div class="produk-card">
            <img src="images/Combro.webp" alt="img">
            <h3>Combro</h3>
            <p class="harga">Rp 10.000/3 Pcs</p>
            <p class="deskripsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <button>Tambah ke Keranjang</button>
        </div>

        <div class="produk-card">
            <img src="images/serabi_solo.webp" alt="img">
            <h3>Serabi Solo</h3>
            <p class="harga">Rp 10.000/2 pcs</p>
            <p class="deskripsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <button>Tambah ke Keranjang</button>
        </div>

        <div class="produk-card">
            <img src="images/sosis solo.webp" alt="img">
            <h3>Sosis Solo</h3>
            <p class="harga">Rp 10.000/3 pcs</p>
            <p class="deskripsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <button>Tambah ke Keranjang</button>
        </div>

        <div class="produk-card">
            <img src="images/lemper.webp" alt="img">
            <h3>Lemper</h3>
            <p class="harga">Rp 15.000/4 pcs</p>
            <p class="deskripsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <button>Tambah ke Keranjang</button>
        </div>

        <div class="produk-card">
            <img src="images/nagasari.webp" alt="img">
            <h3>Naga Sari</h3>
            <p class="harga">Rp 15.000/4 Pcs</p>
            <p class="deskripsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <button>Tambah ke Keranjang</button>
        </div>

        <div class="produk-card">
            <img src="images/risol_mayo_2.webp" alt="img">
            <h3>Risol Mayo</h3>
            <p class="harga">Rp 10.000/2 pcs</p>
            <p class="deskripsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <button>Tambah ke Keranjang</button>
        </div>
    </section>
    </main>


    <footer>
        <div class="container"></div>
            <p>&copy; 2025 Bulan Jajan. Semua Hak Dilindungi.</p>
            <p>Hubungi kami: <a href="https://wa.me/6281234567890">WhatsApp</a> | Instagram: @bulanjajan</p>
        </div>
    </footer>
</body>
</html>
